/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor

/dist
.firebaserc
.netlify
.firebaserc
firebase.json
netlify.toml


.env
.env.backup
.netlify
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
